<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Form</title>
</head>
<body>
<form th:action="@{/processpet}" th:object="${pet}" method="post">
    <div class="container">
        <input th:field="*{id}" type="hidden">
        <input th:field="*{petName}" type="text">

        <select th:field="*{person}" multiple>
            <option th:each ="eachOwner:${people}"
                    th:text="${eachOwner.personName}"
                    th:value="${eachOwner.id}">
            </option>
        </select>
    </div>

    <button type="submit">Save Pet</button>
</form>
</body>
</html>